{{#if next}}
    <button class="pagination" data-url="{{page_url next}}">
        <span class="load-more">Mostrar Más</span>
        <span class="page-number">Página {{page}} de {{pages}}</span>
    </button>
{{/if}}