{{!< default}}

<div class="content-area">
    <main class="site-main container">
        {{#author}}
            <section class="term">
                {{#if profile_image}}
                    <div class="author-image-placeholder u-placeholder">
                        <img class="author-image lazyload u-object-fit"
                        data-src="{{img_url profile_image size="xs"}}"
                        src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                        alt="{{name}}">
                    </div>
                {{/if}}
                <h1 class="term-name">{{name}}</h1>
            </section>
        {{/author}}
        <div class="post-feed">
            {{#foreach posts}}
                {{> "loop"}}
            {{/foreach}}
        </div>
        {{pagination}}
    </main>
</div>
